<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="formObject" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="formObject.invalid" style="margin: 5px" class="btn btn-success" type="submit">Save</button>
          <button (click)="onCancelEdit()" class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input #imageLink formControlName="imagePath" type="text" id="imagePath" class="form-control">
          </div>
        </div>
      </div>

      <div *ngIf="imageLink.value" class="row">
        <div class="col-xs-12">
          <img [src]="imageLink.value" class="img-responsive" alt="Image preview">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" rows="6" type="text" id="description" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients" >
          <div style="margin: 5px" class="row" *ngFor="let ingrediantCtrl of getFormControl('ingredients'); let i = index" [formGroupName]="i">

            <div class="col-xs-8">
              <input formControlName="name" type="text" class="form-control">
            </div>

            <div class="col-xs-2">
              <input formControlName="amount" type="number" class="form-control">
            </div>

            <div class="col-xs-2">
              <button (click)="onDeleteIngredient(i)" type="button" class="btn btn-danger">X</button>
            </div>

          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" (click)="onAddIngredient()" class="btn btn-success">Add Ingredient</button>
              <button type="button" (click)="ondeleteAllIngredient()" class="btn btn-danger pull-right">Delete All</button>
            </div>
          </div>

        </div>
      </div>


    </form>
  </div>
</div>
