<div class="row">
  <div class="col-xs-12">

    <form (ngSubmit)="onSubmitIngredient(formObject)" #formObject="ngForm">

      <div class="row">
        <div class="col-sm-5">
          <label for="name">Name</label>
          <input required  ngModel name="name" type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input required pattern="^[1-9]+[0-9]*$" ngModel name="amount" type="number" id="amount" class="form-control">
        </div>
      </div>

      <div class="row">
      <div class="col-xs-12" >
        <button [disabled]="formObject.invalid"  class="btn btn-success buttonSpace" type="submit">{{this.editMode?'Update':'Add'}}</button>
        <button class="btn btn-danger buttonSpace" type="button">Delete</button>
        <button class="btn btn-primary buttonSpace" type="button">Clear</button>
      </div>
      </div>

    </form>



  </div>
</div>
