<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form (ngSubmit)="onSubmitForm(form)" #form="ngForm">
      <fieldset [disabled]="isLoading">
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input required email ngModel name="email" type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required minlength="6" ngModel name="password" type="password" id="password" class="form-control">
        </div>
        <div>
          <button [disabled]="form.invalid" class="btn btn-primary"
                  type="submit">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
          |

          <button class="btn btn-primary" type="button" (click)="onSwitchLoginMode()">Switch
            to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
        </div>
      </fieldset>
    </form>
    <!--    <div class="alert alert-danger alert-dismissible"  *ngIf="errorMessage" style="margin-top: 15px">-->
    <!--      <button type="button" class="close" (click)="errorMessage=null" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--    {{errorMessage}}-->
    <!--    </div>-->
    <app-alert (closeAlert)="clearError()" [message]="errorMessage" *ngIf="errorMessage"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
